.closed {
    display: none;
}

.foldableTitle {
    border: solid #6A329F 3px;
    border-radius: 5px;
    background-color: #e1d6eb;
    margin: 0 5px 10px;
    padding: 0 5px 5px;
    color: #6A329F;
}

.foldableTitle:hover {
    background-color: #6A329F;
    color: #e1d6eb;
    border: solid #6A329F 3px;
}

.foldableContent {
    margin: 10px 5px;
    padding: 0 5px 5px;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}