.input {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    position: relative;
}

.nameLabel {
    color: #CAC0D3;
}

.input .nameLabel {
    position: absolute;
    background-color: #f9f9f9;
    top: 0;
    transform: translateY(-40%) scale(0.80);
}

.name {
    background-color: inherit;
    margin: 5px 0;
    width: 180px;

    padding: 5px;
    font-size: 14px;
    font-family: 'Arial', serif;
    font-style: normal;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 0 2px #CAC0D3;
}

.input:hover .name {
    background-color: inherit;
    outline: 0;
    box-shadow: 0 0 0 2px #6A329F;
}

.input .name:focus {
    background-color: inherit;
    outline: 0;
    box-shadow: 0 0 0 2px #6A329F;
}

.input:hover .nameLabel {
    color: #6A329F;
}

.input .name:focus~.nameLabel {
    color: #6A329F;
}

::placeholder {
    color: #CAC0D3;
    opacity: 1;
}

.name:focus::placeholder {
    color: transparent;
}