.inputLabel {
    color: #6A329F;
    margin-right: 10px;
}

.input {
    background-color: inherit;
    margin: 10px 0;

    padding: 5px;
    font-size: 14px;
    font-family: 'Arial', serif;
    font-style: normal;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 0 2px #CAC0D3;
    color: #CAC0D3;
}

.inputContainer:hover .input {
    background-color: inherit;
    outline: 0;
    box-shadow: 0 0 0 2px #6A329F;
}

.inputContainer .input:focus {
    background-color: inherit;
    outline: 0;
    box-shadow: 0 0 0 2px #6A329F;
}

.inputContainer:hover .inputLabel {
    color: #6A329F;
}

.inputContainer .input:focus~.inputLabel {
    color: #6A329F;
}