.searchableControl {
    background-color: inherit !important;
    margin: 0 auto 5px;
    width: 190px;
    position: relative;

    font-size: 14px;
    font-family: 'Arial', serif;
    font-style: normal;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 0 1px #CAC0D3;
}

.searchablePlaceholder {
    color: #CAC0D3;
}

.searchableLabel {
    margin: 0 auto 5px;
    position: relative;
    color: #CAC0D3;
    font-size: 14px;
}
