.header {
    box-shadow: 0 1px 20px 0 #6A329F;
    margin-bottom: 20px;

    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-template-columns: 100px 100px;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: #6A329F;
}

.link a:hover {
    text-decoration: underline;
}