.shortListViewer {
    border: 3px solid #6A329F;
    border-radius: 5px;
    margin: 0 10px 0;
    text-align: center;
}

.shortListViewer .title {
    color: #6A329F;
    padding: 5px 0;
    border-bottom: #6A329F solid 3px;
}

.buttonContainer {
    text-align: center;
    margin: 5px 10px 0;
}

.addButton {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #6A329F;
    background-color: #e1d6eb
}

.addButton:hover {
    color: #e1d6eb;
    background-color: #6A329F;
}