.charactersInfo {
    display: grid;

    grid-template-areas:
            "t t t t t"
            "i i i i i";
}

.charactersInfo .title {
    margin-bottom: 10px;
    text-align: center;
    grid-area: t;
}

.characterInfo {
    text-align: center;
    border: 2px solid #6A329F;
    border-radius: 5px;
    margin: 5px;
}

.characterInfo img {
    grid-area: i;
    width: 150px;
    height: 150px;
    display: block;
    margin: 5px auto;
}

@media (max-width: 1200px) {
    .charactersInfo {
        grid-template-areas:
                "t t t t"
                "i i i i";
    }
}

@media (max-width: 1000px) {
    .charactersInfo {
        grid-template-areas:
                "t t t"
                "i i i";
    }
}

@media (max-width: 770px) {
    .charactersInfo {
        grid-template-areas:
                "t t"
                "i i";
    }
}

@media (max-width: 520px) {
    .charactersInfo {
        grid-template-areas:
                "t"
                "i";
    }
}