.itemsList {
    text-align: center;
    margin: 5px;
}

.item {
    padding: 1px;
}

.item a {
    margin: 5px 5px;
    padding: 2px;
    text-decoration: none;
    color: black;
}

.item:hover a {
    background-color: #e1d6eb;
    border-radius: 5px;
}